@import '~styles/var.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $album-page-index;
  transform-origin: right bottom;
  background: $background-color;
}
