@import '~styles/var.scss';
@import '~styles/mixin.scss';

@keyframes img-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $player-index;
  height: 60px;
  width: 100%;
  background: #fff;
  display: none;
  // display: flex;
  box-shadow: 4px -2px 5px $white-color-drak;
  align-items: center;
}

.icon {
  flex: 0 0 40px;
  height: 40px;
  padding: 0 10px 0 20px;
  box-sizing: content-box;

  .imgWrapper {
    width: 100%;
    height: 100%;

    >img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: img-rotate 10s infinite;

      &.paused {
        animation-play-state: paused;
      }
    }
  }
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  @include ellipsis();

  .name {
    color: $font-color;
    font-size: $font-size-m;
    margin-bottom: 4px;
    width: 100%;
    @include ellipsis();

  }

  .desc {
    font-size: $font-size-s;
    color: $subtext-color;
    @include ellipsis();

  }
}

.control,
.list {
  flex: 0 0 40px;
  height: 40px;
  box-sizing: content-box;
  color: $theme-color;
  padding-left: 5px;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  font-size: 50px;
  line-height: 26px;
  color: #d44439;
  margin-top: -10px;
}
